.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation__link {
  font-family: $main-font-stack;
  font-size: 14px;
  text-transform: uppercase;
  color: $secondary-tx-color;
  transition: color 200ms linear;
}

.site-navigation__link::after {
  color: $fourd-tx-color;
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 12px;
}

.site-navigation__link:hover::after {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: $third-tx-color;
  margin: 0 auto;
  margin-top: 12px;
  transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  cursor: pointer;
}

.site-navigation__link:hover {
  color: $third-tx-color;
}