html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::after {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* PAGE-HEADER */

.page-header {
  background-image: url("../img/eagle1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1000px;
}

.header__title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #fff;
}
.header__subtitle {
  margin: 0 auto;
  color: #fff;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  font-size: 150px;
  text-transform: uppercase;
  text-align: center;
  max-width: 830px;
  margin-bottom: 80px;
}

.page-header__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 5px solid #fff;
  background-color: transparent;
  font-size: 14px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 2;
  max-width: 140px;
}

.page-header__link:hover {
  cursor: pointer;
  color: #f5e28e;
  border: 5px solid #f5e28e;
}

/* LOGO */

.site-logo {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  transition: color 200ms linear;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  -o-transition: color 200ms linear;
}

.site-logo:hover {
  color: #f5e28e;
}

/* NAVIGATION */
.page-nav {
  display: flex;
  justify-content: space-between;
}

.page-nav__site-navigation {
  min-width: 491px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation__link {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  transition: color 200ms linear;
}

.site-navigation__link::after {
  color: #f38181;
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 12px;
}

.site-navigation__link:hover::after {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: #f5e28e;
  margin: 0 auto;
  margin-top: 12px;
  transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  cursor: pointer;
}

.menu_link:hover {
  color: #f5e28e;
}

.section {
  margin-bottom: 150px;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* SOCIALS */

.page-main__title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.page-main__subtitle {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #333333;
  font-weight: bold;
}

.page-main__subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 45px;
}

.page-main__item-title {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.page-main__list {
  min-height: auto;
  list-style: none;
}

.page-main__item {
  width: 370px;
  height: auto;
  padding-left: 60px;
}

.page-main__item:nth-last-child(n + 4) {
  margin-bottom: 96px;
}

.page-main__icon::after {
  position: absolute;
  display: inline-block;
  content: " ";
  width: 33px;
  height: 33px;
}

.page-main__icon--icon_1 {
  background-image: url(../img/icon/icon_1.png);
  background-repeat: no-repeat;
}

.page-main__icon--icon_2 {
  background-image: url(../img/icon/icon_2.png);
  background-repeat: no-repeat;
}

.page-main__icon--icon_3 {
  background-image: url(../img/icon/icon_3.png);
  background-repeat: no-repeat;
}

.page-main__icon--icon_4 {
  background-image: url(../img/icon/icon_4.png);
  background-repeat: no-repeat;
}

.page-main__icon--icon_5 {
  background-image: url(../img/icon/icon_5.png);
  background-repeat: no-repeat;
}

.page-main__icon--icon_6 {
  background-image: url(../img/icon/icon_6.png);
  background-repeat: no-repeat;
}

.page-main__item-text {
  font-family: "Roboto Regular", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}

.page-main {
  margin-bottom: 98px;
}

/* TEAM */

.information {
  font-family: "Roboto Regular", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  text-align: center;
  margin-bottom: 92px;
}

.form {
  width: 381px;
  height: 470px;
  text-align: center;
}

.team__item-img {
  margin-bottom: 30px;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}

.txt_name {
  font-family: "Montserrat Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  padding-bottom: 20px;
}

.team__item-about {
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  font-style: italic;
}

.team__item {
  position: relative;
  width: 381px;
}

.socials__item {
  width: 223px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.socials__item .socials__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: #d98080;
}

.socials__link:hover {
  background-color: #fff;
}

.team__list {
  list-style: none;
  position: relative;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 470px;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  z-index: 1;
  box-shadow: rgba(149, 225, 211, 0.4);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.team__item:hover .overlay {
  opacity: 1;
}

.team__item-name {
  font-family: "Montserrat Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.team__item-about {
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  font-style: italic;
  text-align: center;
}

.overlay:hover {
  transform: translate(-10px, -10px);
  -webkit-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.team__list:hover .team__item-img {
  transform: translate(-10px, -10px);
}

/* PAGE-FOOTER */

.page-footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin: auto;
}

.page-footer__about {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  color: #333333;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.page-footer__link {
  display: inline-block;
  text-decoration: none;
}

.page-footer__link:hover {
  color: #f38181;
}

.page-footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__search {
  font-family: "Roboto Light Italic", sans-serif;
  font-style: italic;
  font-size: 15px;
  width: 230px;
  height: 40px;
}

.page-footer__button{
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: #1abc9c;
  width: 150px;
  height: 40px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.page-footer__button:hover {
  background-color: #95e1d3;
}

/* MEDIA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page-header {
    background-image: url("../img/eagle1@2x.jpg");
  }
}
